.datepicker-wrapper .nav:after {
  content: "";
  display: table;
  clear: both; }

.datepicker-wrapper {
  font-family: Arial, Helvetica, sans-serif; }
  .datepicker-wrapper * {
    padding: 0;
    margin: 0;
    box-sizing: content-box; }
  .datepicker-wrapper .date-selector {
    position: absolute;
    background: #FFF;
    padding: 0.625em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
    border-radius: 3px; }
    .datepicker-wrapper .date-selector:after {
      content: "";
      position: absolute;
      display: block;
      width: 1em;
      height: 1em;
      background: #FFF;
      top: -0.375em;
      left: 0.875em;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
      z-index: 0; }
    .datepicker-wrapper .date-selector:before {
      content: "";
      position: absolute;
      display: block;
      width: 2em;
      height: 1em;
      background: #FFF;
      top: 0;
      left: 0.25em;
      z-index: 1; }
  .datepicker-wrapper .nav {
    position: relative;
    padding: 0.5em 0.625em 0.625em 0.625em;
    z-index: 1; }
  .datepicker-wrapper .button {
    position: absolute;
    top: 0.4375em;
    display: block;
    overflow: hidden;
    text-indent: -62.4375em;
    width: 0.75em;
    height: 0.75em;
    border-top: 3px solid #000;
    border-left: 3px solid #000;
    cursor: pointer;
    z-index: 1; }
    .datepicker-wrapper .button.prev {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      left: 0.625em; }
    .datepicker-wrapper .button.next {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      right: 0.625em; }
  .datepicker-wrapper .month-head {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 0.95em;
    font-width: bold;
    color: #777; }
    .datepicker-wrapper .month-head-0:before {
      content: "";
      position: absolute;
      display: block;
      border-right: 1px solid #D2D2D2;
      top: -0.55em;
      bottom: -1.875em;
      right: 0; }
  .datepicker-wrapper table {
    border-collapse: collapse;
    border-spacing: 0; }
  .datepicker-wrapper .table-month-wrapper {
    vertical-align: top; }
    .datepicker-wrapper .table-month-wrapper:first-child {
      border-right: 1px solid #D2D2D2; }
    .datepicker-wrapper .table-month-wrapper td {
      border: 1px solid rgba(6, 6, 6, 0.02);
      padding: 0.6875em;
      text-align: right; }
    .datepicker-wrapper .table-month-wrapper th {
      padding: 0.6875em;
      font-weight: normal;
      font-size: 0.8em; }
    .datepicker-wrapper .table-month-wrapper .selectable_day {
      cursor: pointer; }
    .datepicker-wrapper .table-month-wrapper .unselected_month {
      color: #D3D3D3;
      background: #FCFCFC; }
  .datepicker-wrapper .today-date {
    display: none; }

/*# sourceMappingURL=datepicker.css.map */
